<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.project.nine_project.mapper.LevelMapper">

    <insert id="saveLevel" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO `level` (`content`,`user_id`,`time`,`order_id`)
        VALUES
        (#{content,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{time,jdbcType=TIMESTAMP},#{orderId,jdbcType=INTEGER})
    </insert>

</mapper>