<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.project.nine_project.mapper.StrategyMapper">

    <insert id="saveStrategy" parameterType="Strategy">

        INSERT  INTO strategy (title,content,sce_id,user_id,create_time,`picture`)
        values (#{title,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR}, #{sceId,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP},#{picture,jdbcType=VARCHAR})

    </insert>

    <select id="findDetailById" resultType="Strategy">
        select * from strategy where id =#{strategy_id}
    </select>

    <select id="listStrategyBySceId" resultType="Strategy">
        select * from strategy where sce_id =#{sceId}
    </select>

    <select id="listStrategyByUserId" resultType="Strategy">
        select * from strategy where user_id =#{userId}
    </select>
</mapper>